.login-form {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 60px 0px;
    max-width: 1000px;
    align-items: center;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2), /* тінь зліва і знизу */
    -10px -10px 15px rgba(0, 0, 0, 0.2), /* тінь зліва і зверху */
    0 10px 15px rgba(0, 0, 0, 0.2); /* тінь прямо знизу */
    background-image: url("/images/stripesBG.png");
    min-height: 573px;
    background-size: auto 100%;
    background-position: center center;
}

.login-form input {
    text-align: right;
    color: var(--text-main-color);
    border: none;
    border-bottom: 1px solid var(--text-main-color);
    border-radius: 0px;
    background-color: transparent;
}

.login-form input[type=submit] {
    color: var(--text-main-color);
    border-radius: 0px;
    background-color: #4090FF;
    border: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    float: right;
    margin-top: 30px;
}

    .login-form input[type=submit]:focus {
        color: var(--text-main-color);
        border-radius: 0px;
        background-color: #4090FF;
        border: none;
        padding: 10px;
        width: 200px;
        text-align: center;
        float: right;
        margin-top: 30px;
    }

.login-form input:focus {
    text-align: right;
    color: var(--text-main-color);
    border: none;
    border-bottom: 1px solid var(--text-main-color);
    border-radius: 0px;
    background-color: transparent;
    box-shadow:none;
}

.login-form input:active {
    text-align: right;
    color: var(--text-main-color);
    border: none;
    border-bottom: 1px solid var(--text-main-color);
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
}

.text-center {
    text-align: center;
}

.login-form a:hover {
    color: #4090FF;
}

::placeholder {
    color: #fff !important;
}

.block-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.padding-30{
    padding:30px 0 30px 0;
}

.user-profile a{
    display:flex;
    flex-direction:row;
    justify-content:end;
    align-items:center;   
}

.user-profile img {
    margin: 10px;
}

.user-profile span {
    white-space: nowrap;
}

.dropdown-dark {
    background-color: var(--background-color);
}

.dropdown-item:hover {
    background-color: var(--background-color);
}

.text-color {
    color: var(--text-main-color);
}

.text-color:hover {
    color: #3797EF;
}

.password-line {
    position: relative;
}

#togglePassword {
    position: absolute;
    right: -40px;
    top: 40%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
}

#togglePasswordConfirm {
    position: absolute;
    right: -40px;
    top: 40%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
}   

.eye-button {
    width: 20px;
    height: 20px;
}

.google-login {
    max-width: 45px;
    max-height: 45px;
    margin: 30px 0px 0;
}

.google-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.login-group {
    display: flex;
    align-items: center;
    justify-content:end;
    gap: 50px;
}