.movie-details {
    font-size: 18px;
    margin-top: 20px;
}

.title {
    grid-area: title;
    margin: 20px 50px 0 0;
}

.poster {
    grid-area: poster;
    margin: 20px 50px 0 0;
}

.session {
    grid-area: session;
}

.details {
    grid-area: details;
    padding: 10px;
}

.main-info {
    display: flex;
    margin-bottom: 30px;
}

.main-info__attributes {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    flex-grow: 1;
}

.main-info__poster {
    height: 100%;
    position: relative;
}

.main-info__poster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2), /* тінь зліва і знизу */
    -10px -10px 15px rgba(0, 0, 0, 0.2), /* тінь зліва і зверху */
    0 10px 15px rgba(0, 0, 0, 0.2); /* тінь прямо знизу */
}

.font-24-strong {
    font-size: 24px;
    font-weight: bold;
}


