.block {
    padding: 20px 0px;
    max-width: 800px;
    margin: auto;
}

.block .nav{
    max-width: 530px;
}

.nav-item button {
    font-size: 26px;
}

.profile-information {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 60px 0px;
    max-width: 800px;
    align-items: center;
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2), /* тінь зліва і знизу */
    -10px -10px 15px rgba(0, 0, 0, 0.2), /* тінь зліва і зверху */
    0 10px 15px rgba(0, 0, 0, 0.2); /* тінь прямо знизу */
    background-image: url("/images/stripesBG.png");
    min-height: 500px;
    background-size: auto 100%;
    background-position: center center;
}

.profile-information input {
    color: var(--text-main-color);
    border: none;
    border-radius: 0px;
    background-color: transparent;
    font-size: 20px;
    padding: 0;
    margin-left: 60px;
}

    .profile-information input:focus {
        color: var(--text-main-color);
        border: none;
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none;
    }

.profile-information ul {
    margin: 0;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 60%;
    }
}

.tabs-control {
    margin: 0px 0 40px 0;
    background: none;
    border-bottom-width: 3px;
}

.block .nav-tabs .nav-link {
    font-weight: initial;
    padding-left: 0;
    padding-right: 50px;
}

    .block .nav-tabs .nav-link.active {
        color: var(--text-main-color);
        background-color: transparent;
        border: none;
        font-weight: bold;
        border-color: transparent;
    }

.nav-tabs .nav-link:hover {
    isolation: isolate;
    border: none;
    border-color: transparent;
}

.button1 {
    padding: 8px 25px 8px 25px;
    margin-top: 30px;
}

.p-lines {
    padding-right: 40px;
    padding-top: 40px;
    margin: 0;
}

.profile-information .bottom-border {
    border-bottom: 1px solid var(--text-main-color);
}

.profile-information label {
    font-size: 20px;
}

.profile-information .col-form-label {
    padding: 0;
}

.block .align-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}


.align-profile-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.cancel-btn {
    background-color: #DA6666;
    border: none;
    padding: 0 40px;
    height: 35px;
}

    .cancel-btn:hover {
        background-color: #C24141;
    }

#togglePasswordChange {
    position: absolute;
    right: -40px;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    transform: translate(0%, 200%);
    padding: 10px;
}

.btn-blue {
    border: none;
    background-color: var(--primary-color);
}

    .btn-blue:hover {
        background-color: #006cff;
    }
.btn-red {
    border: none;
    background-color: #DA6666;
}
    .btn-red:hover {
        background-color: #C24141;
    }