@model DifferentSessionViewModel
@{
    ViewData["Title"] = "DifferentSessionError";
}

<div class="different-session-error">
    <h2>Вибачте, ви не можете обрати квитки на різні сеанси! Оформте замовлення або приберіть квитки</h2>
    <div class="return-to-session">
        <a class="button button-outline-primary"
           asp-controller="sessions"
           asp-action="SeatsCatalog"
           asp-route-sessionId="@Model.PreviousSession">Повернутись назад</a>
        <a class="button button-primary"
           asp-controller="sessions"
           asp-action="SeatsCatalog"
           asp-route-sessionId="@Model.SelectedSession">Продовжити покупку</a>
    </div>
</div>