@model ContactFormViewModel
@{
    ViewData["title"] = "Форма контактів";
}

<div class="contact-form-page">
    <div class="contact-form">
        <div class="contact-form__header">
            <h3>Заповніть форму для замовлення квитків</h3>
        </div>
        <form class="contact-form__form" asp-controller="order" asp-action="makeorder" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="contact-data">
                <div class="mb-3">
                    <input type="hidden" class="form-control" asp-for="UserId">
                    <input type="hidden" class="form-control" asp-for="TotalPrice">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Прізвище" asp-for="LastName">
                    <span class="error-msg" asp-validation-for="LastName"></span>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Ім'я" asp-for="FirstName">
                    <span class="error-msg" asp-validation-for="FirstName"></span>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="e-mail" asp-for="Email">
                    <span class="error-msg" asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="payment-type">
                <h4>Cпосіб оплати</h4>
                <div class="payment-type__variants">
                    <div class="payment-variant">
                        <input class="btn-check" type="radio" asp-for="PaymentType" value="@PaymentTypes.CASH_DESK" id="cashDesk" checked>
                        <label class="btn btn-outline-primary" for="cashDesk">Оплатити @PaymentTypes.CASH_DESK.ToLower()</label>
                    </div>
@*                     <div class="payment-variant online">
                        <input class="btn-check" type="radio" asp-for="PaymentType" value="@PaymentTypes.ONLINE" id="online">
                        <label class="btn btn-outline-success" for="online">Оплатити @PaymentTypes.ONLINE.ToLower()</label>
                    </div> *@
                </div>
                <span asp-validation-for="PaymentType" class="error-msg"></span>
            </div>
            <div class="contact-form__submit">
                <input class="btn btn-primary submit-form-button" type="submit" value="Замовити" />
            </div>
        </form>
    </div>
</div>
