@model ContactFormViewModel
@{
    ViewData["title"] = "Online оплата";
}
<div class="contact-form-page">
    <div class="contact-form">
        <div class="contact-form__header">
            <h3>До сплати @Model.TotalPrice грн</h3>
        </div>
        <form asp-controller="order" asp-action="makeorder" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="contact-data">
                <div>
                    <input type="hidden" class="form-control" asp-for="UserId">
                    <input type="hidden" class="form-control" asp-for="LastName">
                    <input type="hidden" class="form-control" asp-for="FirstName">
                    <input type="hidden" class="form-control" asp-for="Email">
                    <input type="hidden" class="form-control" asp-for="PaymentType">
                </div>
                <div class="card-credential">
                    <input type="text" class="form-control" placeholder="Номер картки" asp-for="PaymentCredentials" required>
                    <div class="card-date-code">
                        <input type="text" class="form-control" placeholder="Місяць" asp-for="CardMont" required>
                        <input type="text" class="form-control" placeholder="Рік" asp-for="CardYear" required>
                        <input type="text" class="form-control" placeholder="CVV" asp-for="CardCvv" required>
                    </div>
                </div>
            </div>
            <div class="contact-form__submit payment-button">
                <input class="btn btn-primary submit-form-button" type="submit" value="Оплатити" />
            </div>
        </form>
    </div>
</div>