<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <header class="header">
        <div class="header-nav">
            <div class="header-nav__logo">
                <h1 class="navbar-title">ICinema</h1>
            </div>
            <a href="#" class="header-nav__menu-button">
                <span class="header__navicon"></span>
            </a>
            <nav class="header-nav__menu">
                <div class="header-nav__links">
                    <a class="nav-link" asp-controller="home" asp-action="index">Фільми</a>
                    <a class="nav-link" asp-controller="sessions" asp-action="schedule">Розклад</a>
                </div>
@*                 <form class="d-flex" role="search">
                    <input class="form-control me-2 " type="search" placeholder="Пошук" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Пошук</button>
                </form> *@

                <div class="header-nav__links nav-right">
                    <a class="nav-link" asp-controller="account" asp-action="login">Вхід</a>
                    <span>|</span>
                    <a class="nav-link" asp-controller="account" asp-action="register">Реєстрація</a>
                </div>
      
            </nav>
        </div>

        
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/header.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>
