@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="/images/icons/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <header class="header">
        <div class="header-nav">
            <div class="header-nav__logo">
                <h1 class="navbar-title">ICinema</h1>
            </div>
            <a href="#" class="header-nav__menu-button">
                <span class="header__navicon"></span>
            </a>
            <nav class="header-nav__menu">
                <div class="header-nav__links">
                    <a class="nav-link" asp-controller="home" asp-action="index">Фільми</a>
                    <a class="nav-link" asp-controller="sessions" asp-action="schedule">Розклад</a>
                    @if (User?.Identity?.IsAuthenticated == true && User.IsInRole(UserStatuses.ADMINISTRATOR))
                    {
                        <a class="nav-link" asp-controller="order" asp-action="manageorders">Адміністрування</a>
                    }
                </div>
                <div class="header-right">
                    <a class="nav-link cart-icon-container" asp-controller="cart" asp-action="index">
                        @if (ViewBag?.TicketsAmount == 0 ?? true)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5" />
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-basket-fill" viewBox="0 0 16 16">
                                <path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z" />
                            </svg>
                            <div class="cart-counter">@ViewBag?.TicketsAmount</div>
                        }
                    </a>
                    @if (User?.Identity?.IsAuthenticated != true)
                    {

                        <div class="login-register-buttons nav-right">
                            <a class="nav-link" asp-controller="account" asp-action="login">Вхід</a>
                            <span>|</span>
                            <a class="nav-link" asp-controller="account" asp-action="register">Реєстрація</a>
                        </div>
                    }
                    else
                    {
                        <div class="header-nav__links user-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/images/icons/userProfile.png" alt="Мій профіль" />
                                <span>@(User.Identity.Name ?? string.Empty)</span>
                            </a>
                            <ul class="dropdown-menu dropdown-dark">
                                <li><a class="dropdown-item text-color" asp-controller="account" asp-action="MyProfile">Мій профіль</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-color" asp-controller="account" asp-action="logout">Вийти</a></li>
                            </ul>
                        </div>
                    }
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
@*     <footer class="footer">
        <div class="footer__copyright">
            <div class="footer__title">© Created by</div>
            <div class="footer__author">Чернишова Поліна</div>
            <div class="footer__author">Ткач Євген</div>
            <div class="footer__author">Єрмакова Ольга</div>
        </div>
        <div class="footer__copyright">All rights Reserved</div>
    </footer> *@
    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
